/PUCIT.AIMRL.NotificationServer/.vs
/PUCIT.AIMRL.NotificationServer/packages
/PUCIT.AIMRL.NotificationServer/PUCIT.AIMRL.NotificationServer/bin
/PUCIT.AIMRL.NotificationServer/PUCIT.AIMRL.NotificationServer.DAL/bin
/PUCIT.AIMRL.NotificationServer/PUCIT.AIMRL.NotificationServer.Entities/bin
/PUCIT.AIMRL.NotificationServer/PUCIT.AIMRL.NotificationServer/obj
/PUCIT.AIMRL.NotificationServer/PUCIT.AIMRL.NotificationServer.Entities/obj
/PUCIT.AIMRL.NotificationServer/PUCIT.AIMRL.NotificationServer.DAL/obj
/PUCIT.AIMRL.NotificationServer/PUCIT.AIMRL.NotificationServer/logs
